In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('15번.1인가구.csv')

In [27]:
df.isna().sum()

jur_stn           0
year              0
single_합계        51
single_u20       51
single_2030      51
single_4050      51
single_o60       51
single_f_합계      51
single_f_u20     51
single_f_2030    51
single_f_4050    51
single_f_o60     51
dtype: int64

In [15]:
df.iloc[[39 +82, 39 + 82 + 82, 39 + 82 + 82 + 82], 2:].mean()

single_합계        42588.666667
single_u20         737.666667
single_2030      14475.666667
single_4050      11931.666667
single_o60       15443.666667
single_f_합계      22673.000000
single_f_u20       368.666667
single_f_2030     5721.333333
single_f_4050     5282.000000
single_f_o60     11301.000000
dtype: float64

In [26]:
# 결측값을 전체년도 평균으로 채워줌
for i in range(31, 41):
    df.iloc[[i + 82*3 + 41], 2:] = df.iloc[[i +82, i + 82 + 82, i + 82 + 82 + 82], 2:].mean()

In [28]:
for i in range(31, 41):
    df.iloc[[i + 82*4], 2:] = df.iloc[[i +82, i + 82 + 82, i + 82 + 82 + 82], 2:].mean()

In [29]:
df

,jur_stn,year,single_합계,single_u20,single_2030,single_4050,single_o60,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,서울종로경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,서울남대문경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,서울서대문경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,서울혜화경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
364,창원서부경찰서,2020(하반기),27185.666667,112.666667,8241.666667,10835.000000,7996.333333,12571.0,55.000000,2844.333333,4446.333333,5225.333333
365,마산중부경찰서,2020(하반기),22268.333333,356.333333,5382.000000,6735.666667,9794.333333,11834.0,140.000000,1960.333333,2944.666667,6789.000000
366,마산동부경찰서,2020(하반기),20188.333333,70.000000,3935.333333,7462.000000,8721.000000,10440.0,35.333333,1498.000000,3108.666667,5798.000000
367,진주경찰서,2020(하반기),42588.666667,737.666667,14475.666667,11931.666667,15443.666667,22673.0,368.666667,5721.333333,5282.000000,11301.000000
368,진해경찰서,2020(하반기),19982.666667,48.000000,6106.333333,7120.000000,6708.333333,8845.0,25.000000,1663.666667,2576.000000,4580.333333

In [31]:
df.to_csv('15번.1인가구_total.csv', index = False)

In [32]:
df

,jur_stn,year,single_합계,single_u20,single_2030,single_4050,single_o60,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,서울종로경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,서울남대문경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,서울서대문경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,서울혜화경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
364,창원서부경찰서,2020(하반기),27185.666667,112.666667,8241.666667,10835.000000,7996.333333,12571.0,55.000000,2844.333333,4446.333333,5225.333333
365,마산중부경찰서,2020(하반기),22268.333333,356.333333,5382.000000,6735.666667,9794.333333,11834.0,140.000000,1960.333333,2944.666667,6789.000000
366,마산동부경찰서,2020(하반기),20188.333333,70.000000,3935.333333,7462.000000,8721.000000,10440.0,35.333333,1498.000000,3108.666667,5798.000000
367,진주경찰서,2020(하반기),42588.666667,737.666667,14475.666667,11931.666667,15443.666667,22673.0,368.666667,5721.333333,5282.000000,11301.000000
368,진해경찰서,2020(하반기),19982.666667,48.000000,6106.333333,7120.000000,6708.333333,8845.0,25.000000,1663.666667,2576.000000,4580.333333

### 결측치는 동일 관할서 내 평균으로 대체